.logo{
    width: 326px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    background: #99823D;
    position: absolute;
    left: 0;
    top: -17px;
    z-index: 10;
}

.burger-btn{
    width: 30px;
    height: 30px;
    background: url(../assets/images/icons/burger.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: none;
}

.header__nav-menu__list-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    transition: 0.4s;
    text-transform: uppercase;
}

.header__nav-menu__list-item{
    padding: 0px 18px;
    transition: 0.4s;
}

.header__nav-menu__list-item:hover{
    background: #99823D;
}

.header__nav-menu__list{
    display: flex;
    align-items: center;
}

.header__content{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header{
    background: #141414;
    padding: 17px 0px;
    position: relative;
}

.header__nav.active{
    opacity: 1;
    visibility: visible;
    display: flex;
}

@media(max-width: 680px){
    .header__nav{
        position: absolute;
        z-index: 100;
        top: 47px;
        right: 0;
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: 0.4s;
    }

    .header__nav-menu__list{
        flex-direction: column;
        background: #141414;
    }

    .burger-btn{
        width: 30px;
        height: 30px;
        background: url(../assets/images/icons/burger.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        display: block;
        margin-left: 50px;
    }
}